.toppaddingbecauseofnav {
	height:50px;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
  color: #222;
}
.twocolone .starter-template { 
  text-align: left; 
}
.page-header span {
    color: #26a1e0;
}
h1.page-header   {
	font-size:50px;
}

.starter-template h1.page-header {
  border-bottom: 1px solid #ddd;
}
.green-alert{

	background-color: rgb(50, 179, 106);
	color:white;
	padding:15px 20px;
	margin:0px;
}

/* stylish-panel */
.stylish-panel {
    padding: 20px 0;
    text-align: center;
}
.stylish-panel > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}
.stylish-panel > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    transition: 0.5s;
}

.stylish-panel > div:hover img {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.stylish-panel .insideicons {
    font-size: 40px;
    line-height: 0px;
}

/* testimonials */
.Testimonials .nav.nav-justified > li > a { position: relative; }
.Testimonials .nav.nav-justified > li > a:hover,
.Testimonials .nav.nav-justified > li > a:focus { background-color: transparent; }
.Testimonials .nav.nav-justified > li > a > .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #13c0ba;
    border-radius: 15px;
    color: #fff;  
}
.Testimonials .nav.nav-justified > li.active > a > .quote { opacity: 1; }
.Testimonials .nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px #13c0ba; }
.Testimonials .nav.nav-justified > li > a > img {
    max-width: 100%; 
    opacity: .3; 
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.Testimonials .nav.nav-justified > li.active > a > img,
.Testimonials .nav.nav-justified > li:hover > a > img,
.Testimonials .nav.nav-justified > li:focus > a > img {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.Testimonials .tab-pane .tab-inner { padding: 30px 0 20px;text-align: center; }
@media (min-width: 768px) {
    .Testimonials .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 20px;
        bottom: 0px;
    }  
}
.ihc-ap-menu {
    display: none;
}


.insideicon {
    width: 100px;
    margin: 0 auto;
}


.safetyline {
	border:1px solid red;
	position: absolute;  
	top:0px; 
	z-index:999;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.offsidestylishpanel {
	text-align: center;
	padding: 20px;
}

.offsidestylishpanel .insideicons {
    font-size: 40px;
    line-height: 0px;
}

