.paymentform label {
  position: relative;  
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  display: block;
}

.paymentform label > span {
  float: left;
}

.paymentform .field { 
  box-sizing: border-box;
  font-weight: 400; 
  border-radius: 24px; 
  outline: none;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  cursor: text;
  width: 76%;
  float: right;
}

.paymentform .field::-webkit-input-placeholder {   }
.paymentform .field::-moz-placeholder {   }
.paymentform .field:-ms-input-placeholder {   }

.paymentform .field:focus,
.paymentform .field.StripeElement--focus {
   
}

.paymentform button { 
  display: block;  
}

.paymentform button:focus { 
}

.paymentform button:active { 
}

.paymentform .outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.paymentform .success, .error {
  display: none; 
} 

.paymentform .success.visible, .error.visible {
  display: inline;
}

.paymentform .error {
  color: #E4584C;
}

.paymentform .success {
  color: #F8B563;
}

.paymentform .success .token {
  font-weight: 500;
  font-size: 13px;
}